*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --container-width: 1180px;
}


html,
body {
    height: 100%;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.wrapper {
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

.container {
    max-width: var(--container-width);
    padding: 0 40px;
    margin: 0px auto;
}

.active {
    color:#667EEA;
}
p{
    margin: 0;
}

.responsibility-mobile{
    display: none;
}